<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/plugins/bootstrap-3.3.7/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/plugins/magnific-popup/css/magnific-popup.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all">
</head>

<body>

<div class="header" th:fragment="topbar">
    <div class="header-container">
        <div class="logo">
            <a th:href="@{index.html}"> <img th:src="@{/img/web/logo.png}" alt="" class="img-responsive"></a>
        </div>
        <div class="cssmenu">
            <span class="menu"> <img th:src="@{/img/web/icon.png}" alt=""></span>
            <ul class="res">
                <li th:class="${activeUri == 'index'?'active':''}"><a th:href="@{/index}">主页</a></li>
                <li th:class="${activeUri == 'introduce'?'active':''}"><a th:href="@{/introduce.html}">介绍</a></li>
                <li th:class="${activeUri == 'articleList'?'active':''}"><a th:href="@{/arts/1}">文章</a></li>
                <li th:class="${activeUri == 'download'?'active':''}"><a th:href="@{/download}">游戏下载</a></li>
                <li th:class="${activeUri == 'news'?'active':''}"><a th:href="@{/news/1}">服务器新闻</a></li>
            </ul>
        </div>

        <div class="login_register">
            <!--                <c:if test="${sessionScope.user == null }">-->
            <!--                    <ul>-->
            <!--                        <li><a class="login" href="/253craft/Page/login.jsp">登录</a></li>-->
            <!--                        <li><a class="register" href="/253craft/Page/register.html">注册</a></li>-->
            <!--                    </ul>-->
            <!--                </c:if>-->
            <!--                <c:if test="${sessionScope.user != null }">-->
            <!--                    <ul>-->
            <!--                        <li class="user-info"><span class="glyphicon glyphicon-user"-->
            <!--                                                    aria-hidden="true" style="font-size: 1.5em"></span> <span>${sessionScope.user.name}</span></li>-->
            <!--                        <li><a class="login" href="/253craft/logoutServlet">注销</a></li>-->
            <!--                        <li><a class="register" href="/253craft/AdminServlet?currentPage=0&&pageSize=5&&sort=article">管理</a></li>-->
            <!--                    </ul>-->
            <!--                </c:if>-->

            <ul th:if="${session.username == null}">
                <li><a class="login" th:href="@{/login}">登录</a></li>
                <li><a class="register" th:href="@{/register}">注册</a></li>
            </ul>

            <ul th:if="${session.username != null}">
                <li class="user-info"><span class="glyphicon glyphicon-user"
                                            aria-hidden="true" style="font-size: 1.5em"></span> <span th:text="${session.username}"></span></li>
                <li><a class="login" th:href="@{/logout}">注销</a></li>
                <li><a class="register" th:href="@{'/admin?currentPage=1&sort=article'}">管理</a></li>
            </ul>

        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="footer" th:fragment="footer">
    <div class="container">
        <div class="copy">
            <p class="copy">Copyright &copy; 2019.Company name All rights
                reserved.
        </div>
        <div class="footer-nav">
            <ul>
                <li><a th:href="@{/index}">主页</a></li>
                <li><a th:href="@{/introduce.html}">介绍</a></li>
                <li><a th:href="@{/arts/1}">文章</a></li>
                <li><a th:href="@{/download}">游戏下载</a></li>
                <li><a th:href="@{/news/1}">服务器新闻</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script th:src="@{/plugins/jquery/jquery-3.4.1.min.js}"></script>
<script th:src="@{/plugins/bootstrap-3.3.7/js/bootstrap.js}"></script>
</body>
</html>