.submit-btn {
	width: 150px;
	height: 50px;
	font-size: 1.6em;
}

.article-info {
	padding: 10px;
	font-size: 1.2em;
}

.article-info input{
	font-size: 1.0em;
}

.article-info select{
	font-size: 1.0em;
}


